*.class

# Package Files #
*.jar
*.war
*.ear
/tavernahadoop-webgui/target/
/tavernahttp-restclient/target/
/defaulthttp-restclient/target/
/t2flow-annotread/target/
/target/
/t2flow-read/target/


/tavernahadoop-webgui/src/main/resources/config.properties
/tavernahadoop-webgui/src/main/resources/hibernate.cfg.xml
