# Compiled classes #
*.class

# Package Files #
*.jar
*.war
*.ear

# Targets #
/tavernahadoop-webgui/target/
/tavernahttp-restclient/target/
/defaulthttp-restclient/target/
/t2flow-annotread/target/
/target/
/t2flow-read/target/

# User specific config files created from templates #

/tavernahadoop-webgui/src/main/resources/taverna.properties
/tavernahadoop-webgui/src/main/resources/hadoop.properties
/tavernahadoop-webgui/src/main/resources/hibernate.cfg.xml
/tavernahadoop-webgui/src/main/resources/myexperiment.properties

# Netbeans configuration file #
nbactions.xml
/t2flow-read (Kopie)/target/
/hadoopjobtracker-client/target/

# Specific configuration files #
pom.xml.ONB
